{% extends 'common/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>{{ post.pk }}</div>
        <div>{{ post.author }}</div>
        <div style="width: 50%; height: auto;"><img src="{{ post.photo.url }}" alt=""></div>
        <div>{{ post.comment }}</div>
        <div>{{ post.created_date }}</div>
        <form action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">삭제하기</button>
        </form>
        <div>---------------------------------------</div>
        <br>

    {% endfor %}


{% endblock %}